.dvCard{
    background-color: #c9c5c1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 300px;
}
.dvCardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SubbmitButton, .SubbmitButtonDisabled{
    background: #4b8f51;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.7s ease, transform 0.4s ease;
}
.SubbmitButton:hover{
    background: linear-gradient(#33ca3f, #2a904a);
    transform: scale(1.05);
}
.SubbmitButtonDisabled{
    background: #a9a9a9;
    cursor: not-allowed;
}
.dvCardTitle{
    text-align: center;
}
.SpObligatory{
    align-self: flex-end;    color: red;
    font-size: 0.5em;
    margin-bottom: 10px;
}
.inputGit{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}