.dvCard{
    background-color: #949494;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 200px;
}
.dvCardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.dvCardContent button{
    background: #1f7426;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.7s ease, transform 0.4s ease;
}
.dvCardContent button:hover{
    background: linear-gradient(#33ca3f, #2a904a);
    transform: scale(1.05);
}
.dvCardTitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}